/ShaderTest/Debug
/ShaderTest/ShaderTest/Debug
/ShaderTest/.vs
/TextureTest/Debug
/TextureTest/.vs
/TextureTest/TextureTest/Debug
/TransformTest/Debug
/TransformTest/.vs
/TransformTest/TransformTest/Debug
/CoordinateTest/Debug
/CoordinateTest/.vs
/CoordinateTest/CoordinateTest/Debug
/LightingTest/Debug
/LightingTest/LightingTest/Debug
/LightingTest/.vs
/MultipleLightTest/Debug
/MultipleLightTest/.vs
/MultipleLightTest/MultipleLightTest/Debug
